// ------ Parametric Mixins Library ------

/* 
Example Mixin: 
.fontStyle(@paramFamily: 'Arial', sans-serif ; @paramSize: 2em;) {
    font-family: @paramFamily;
    font-size: @paramSize;
}
*/

// Centers things to the dead center of an area
.deadCenter() {
    margin: none;
    padding: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

// Change text in autofill textbox
.textChangeAutofillBox(@paramColor: #E2E2E2) {
    input:-webkit-autofill {
    -webkit-text-fill-color: @paramColor !important;
    }
}

// Change the white to any color
.transformWhiteText() {
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
                box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    }
}