// Color Palette 

@color1: #E2E2E2;  
@color2: #32CF9B; 
@color3: #CE3D55;  
@color4: #585E63;  
@color5: #343A40;  

@darkColor1: darken(@color1, 20%);
@darkColor2: darken(@color2, 20%);
@darkColor3: darken(@color3, 20%);
@darkColor4: darken(@color4, 20%);
@darkColor5: darken(@color5, 20%);

@lightColor1: lighten(@color1, 20%);
@lightColor2: lighten(@color2, 20%);
@lightColor3: lighten(@color3, 20%);
@lightColor4: lighten(@color4, 20%); 
@lightColor5: lighten(@color5, 20%); 

@greyColor1: desaturate(@color1, 20%); 
@greyColor2: desaturate(@color2, 20%);
@greyColor3: desaturate(@color3, 20%); 
@greyColor4: desaturate(@color4, 20%);
@greyColor5: desaturate(@color5, 20%);

@lightColor: #FFFFFE;
@darkColor: #000000;
