/* Color Palette */
@import 'palette.less';

/* Parametrics Mixins Library */
@import 'mixins.less';

.alert {
    padding: 5px;
    margin: 0;
    border-radius: 0%;
    border-bottom: 1px solid @lightColor3;
    background-color: @darkColor3;
    color: @lightColor3;
    font-size: 12px;
}

.notify {
    padding: 5px;
    margin: 0;
    border-radius: 0%;
    border-bottom: 1px solid @lightColor2;
    background-color: @darkColor2;
    color: @lightColor2;
    font-size: 12px;
}

.slogan, .error-container {
    .removePaddingMargin();
    .deadCenter();
}

.error-text {
    color: @color1;
}

/* Image located on error templates */
.pirate-img {
    border: 1px solid @color2;
}

.error-title, .nav-logo, .plot-text, .text-logo, .ticker-success {
    color: @color2;
}

.nav-logo {
    font-size: medium;
}

.navbar-nav a {
    color: @color1;
    font-size: 24px;
    font-weight: 200;
}

.navbar-nav a.current {
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: @color2;
    text-decoration-thickness: 2px;
    color: @lightColor;
}

.navbar-nav a:hover {
    text-decoration: none;
    color: @color1;
}

.ticker-graph a:hover {
    color: @color1;
}

.ticker-graph {
    font-weight: 400;
}

.delete-ticker {
    background-color: @color3;
}

.delete-ticker a {
    color: @lightColor;
    font-weight: 100;
    .deadCenter();
}

.block-content {
    background: @color4;
}

/* Prevents overscroll behavior */
body { 
    .preventOverscroll();
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: @color1 !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px @color5 inset !important;
            box-shadow: inset 0 0 6px @darkColor;
}

/* ------ MEDIA QUERIES ------
Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (portrait phones, 320px and up) */
@media (min-width: 320px) {
    .login-container, .signup-container, .update-container {
        max-width: 75%;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .ticker-container {
        max-width: 1199px;
    }
    .delete-ticker {
        max-width: 60px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .ticker-container {
        max-width: 1500px;
    }
    .delete-ticker {
        max-width: 60px;
    }
    /* Centers dashboard content on large devices */
    .dashboard-container {
        .pageContentCenter();
    }
    .plot-page {
        .pageContentCenter()
    }
}