.block-content {
  background: #585E63;
}
.plot {
  background-color: #343A40;
}
.ticker-graph {
  font-weight: 400;
}
.ticker-graph a:hover {
  color: #32CF9B;
}
/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #343a40 inset !important;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-color: #e2e2e2 !important;
}
.alert {
  padding: 5px;
  margin: 0;
  border-radius: 0%;
  border-bottom: 1px solid #d15e3b;
  background-color: #813021;
  color: #f39057;
  font-size: 12px;
}
.notify {
  padding: 5px;
  margin: 0;
  border-radius: 0%;
  border-bottom: 1px solid #2fb387;
  background-color: #2a745b;
  color: #5ce6b8;
  font-size: 12px;
}
body {
  overflow: auto;
}
.nav-logo {
  color: #32CF9B;
}
.navbar-nav a {
  color: #E2E2E2;
  font-size: 24px;
  font-weight: 200;
}
.navbar-nav a.current {
  font-weight: 700;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #32CF9B;
  text-decoration-thickness: 2px;
  color: #FFFFFE;
}
.navbar-nav a:hover {
  text-decoration: none;
  color: #E2E2E2;
}
.custom-toggler.navbar-toggler {
  border-color: #32CF9B;
}
.slogan {
  margin: none;
  padding: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.text-logo {
  color: #32CF9B;
}
.delete-ticker {
  background-color: #CE3D55;
}
.delete-ticker a {
  color: #CE3D55;
  font-weight: 100;
}
.ticker-success {
  color: #32CF9B;
}
@media (min-width: 992px) {
  .ticker-container {
    max-width: 1199px;
  }
  .delete-ticker {
    max-width: 125px;
  }
}
@media (min-width: 1200px) {
  .ticker-container {
    max-width: 1500px;
  }
  .delete-ticker {
    max-width: 125px;
  }
}
