.nav a {
    color: rgb(227, 246, 248);
    font-size: 24px;
    font-weight: 200;
}

.nav a:hover {
    text-decoration: none;
    color: rgb(50, 207, 155);
}

.nav a.current {
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(50, 207, 155);
    text-decoration-thickness: 2px;
    color: rgb(50, 207, 155);
}

.block-content {
    background: rgb(88, 94, 99);
}

.text-logo {
    color: rgb(50, 207, 155);
}

.top-tickers p {
    word-wrap: break-word;
}

.add-ticker {
    margin-top: 0;
}

.col {
    float: left;
    width: 45%;
    position: relative;
}
  
/* Clear floats after the columns */
.ticker-container:after {
    content: "";
    display: table;
    clear: both;
}

.ticker-container {
    height: 148px;
}

.ticker-price {
    font-size: 70px;
    line-height: 70px;
}

.ticker-success {
    color: rgb(50, 207, 155);
}

.delete-ticker {
    height: 100%;
    width: 10%;
    background: rgb(192, 36, 36);
}

.delete-ticker a {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}