{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    <meta charset='UTF-8'>
    <meta name='description' content='Finantial App'>
    <title> Finantial App </title>
    
    <div class="container">
        <ul class="nav nav-pills">
            <li style="background-color:rgb(215, 247, 189) "  
                class="nav-item"><a href="{{ url_for('home') }}">Home</a></li>
            <li style="background-color:rgb(215, 247, 189) " 
                class="nav-item"><a href="{{ url_for('signup') }}">Signup</a></li>
            <li style="background-color:rgb(215, 247, 189) "  
                class="nav-item"><a href="{{ url_for('login') }}">Login</a></li>
       </ul>
    </div>
{% endblock %}

{% block body %}
    
    {% block content %}
    
    {% endblock %}

{% endblock %}
