{% extends "base.html" %}

{% block title %}{{super()}}{{ username }}{% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block content %}
<p>{{ display_message }}! This is your dashboard.</p>
<div class="profile-information">
   <h1>User Information</h1>
   <ul>
      <li></li>
   </ul>
</div>
<div class="profile-logout">
   <form class="" name="" action="/logout/" method="POST">
      {{ form.csrf_token }}
      <input type="submit" value="Logout"/>
   </form>
</div>
{% endblock %}
