{% extends "base.html" %}

{% block title %}{{super()}}{{ username }}{% endblock %}

{% block content %}
<!-- Ticker Dropdown -->
<div class="p-4">
  <h1>Dashboard</h1>
  <form action="{{ url_for('main_bp.add') }}" method="post"> 
    <div>
    <!-- Note: autocomplete="off" ensures the user is shown values in the <datalist> but not values they previously entered in the browser. -->
    <input type="text" list="tickerlist" name="symbol" autocomplete="off" id="tickerInput" Placeholder="Search Ticker..">
    <button class="add-ticker btn btn-primary btn-sm ml-1" type="submit">Add Ticker</button>
    <datalist id="tickerlist">
    {% for i in results %}
        <option>{{ i }}</option> 
    {% endfor %}
    </datalist>
  </div>
  </form>

{% if stocks %}
<div class="p-4">
  <h3>Followed Stock Tickers</h3>
  {% for stock in stocks %}
  <div class="mb-3 p-3 border border-primary">
    <h2 class="text-primary">{{ stock.symbol }}</h2>
    <p class="text-primary">{{ stock.name }}</p>
    <p class="text-primary">Current Price: <span class="text-success">${{ stock.current_price }}</span></p>
    <p class="text-primary">High: <span class="text-secondary">${{ stock.high }}</span></p>
    <p class="text-primary">Low: <span class="text-secondary">${{ stock.low }}</span></p>
    <p class="text-primary">Open: <span class="text-secondary">${{ stock.open }}</span></p>
    <p class="text-primary">Close: <span class="text-secondary">${{ stock.close }}</span></p>
    <a class="text-danger" href="/delete/{{ stock.symbol }}">Delete Ticker</a>
  </div>
  {% endfor %}
</div>
{% else %}
{% endif %}

<!-- jQuery for Ticker Dropdown -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  var initialArray = [];
          initialArray = $('#tickerlist option');
          $("#tickerInput").keyup(function() {
            var inputVal = $('#tickerInput').val();
            var first = [];
            first = $('#tickerlist option');
            if (inputVal != '' && inputVal != 'undefined') {
              var options = '';
              for (var i = 0; i < first.length; i++) {
                if (first[i].value.toLowerCase().startsWith(inputVal.toLowerCase())) {
                  options += '<option value="' + first[i].value + '" />';
                }
              }
              document.getElementById('tickerlist').innerHTML = options;
            } else {
              var options = '';
              for (var i = 0; i < initialArray.length; i++) {
                options += '<option value="' + initialArray[i].value + '" />';
              }
              document.getElementById('tickerlist').innerHTML = options;
            }
          });
</script>

{% endblock %}