{% extends "base.html" %}

{% block title %}{{super()}}{{ username }}{% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block content %}
<div class="pt-4">
  <h1>Dashboard</h1>
  <form action="/add" method="post">
    <div class="field">
      <label>Stock Ticker Symbol</label>
      <input type="text" name="symbol" placeholder="Ex: AAPL">
      <button type="submit" class="btn btn-primary btn-sm">Add</button>
    </div>
  </form>
</div>
{% for ticker in ticker_list %}
<div class="mt-4 p-4 border border-primary">
  <h2>{{ ticker.symbol }}</h2>
  <a href="/delete/{{ ticker.id }}">Delete</a>
  <div>
    <table>
      <thead>
        <tr>
          <th class="pr-2">Current Price</th>
          <th class="pr-2">Market High</th>
          <th class="pr-2">Market Low</th>
          <th class="pr-2">Market Open</th>
          <th class="pr-2">Market Close</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ current_price }}</td>
          <td>{{ market_high }}</td>
          <td>{{ market_low }}</td>
          <td>{{ market_open }}</td>
          <td>{{ market_close }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="account-update">
   <form class="" name="" action="/update/" method="POST">
      {{ form.csrf_token }}
      <input style="background-color:rgb(215, 247, 189) " type="submit" value="Update Account Info"/>
   </form>
</div>
<br>
<div class="account-logout">
   <form class="" name="" action="/logout/" method="POST">
      {{ form.csrf_token }}
      <h5 style="color:rgb(36, 113, 116)"> {{ display_message }} <input style="background-color:rgb(215, 247, 189) " type="submit" value="Logout"/> </h5>
      
   </form>
</div>
{% endfor %}
{% endblock %}