{% extends "base.html" %}

{% block content %}

    {% if display_message %}
        <p>{{ display_message }}</p>
    {% endif %}
    <div class="home-page bg-dark">
        <div class="slogan">
            <h1 class="text-light text-center">Welcome to <span class="text-logo">Pyrate Stocks</span></h1>
            <p class="text-light text-center">Check the status of your favorite stocks</p>
        </div>
        <div>
            <button>
                Login
            </button>
        </div>
    </div>
    
{% endblock %}
