{% extends "base.html" %}

{% block title %}{{super()}}Home{% endblock %}

{% block head %}
    {{super()}}
{% endblock %}

{% block content %}
    {% if display_message %}
        <p>{{ display_message }}</p>
    {% endif %}
    <h1 class="text-center pt-4">Welcome to Financial App!</h1>
    <p class="text-center">Check the status of your favorite stocks with the hottest new finance app</p>

    <h4 class="pt-4 ">Most followed</h4>
    <p>Maybe show a data stream with the most saved stocks?</p>

    <h4 class="pt-4">News Feed</h4>
    <p>Latest news in finance could be displayed here somehow.</p>

    <p>Just brainstorming some ideas (matthias)</p>
{% endblock %}
