{% extends 'base.html' %}

{% block head %}{% endblock %}
{% block title %}Login{% endblock %}


{% block body %}
<div class="login-form">
    <form class="w-100 p-4" name="" action="/login/{{ username }}/" method="post">
        <input id="username-input" class="px-2 w-75" type="text" name="username" placeholder="enter username..." required/>
        <input id="password-input" class="px-2 w-75" type="text" name="password" placeholder="enter password..." required/>
        <input class="px-4 float" type="submit" value="Add"/>
    </form>
  </div>
<h2>This is a web page.</h2>
<h3>This is cool.</h3>
{% endblock %}
