{% extends "bootstrap/base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
<h1>{{ context.display_message }}</h1>
<div class="login-form">
    <form class="w-100 p-4" name="" action="/login/" method="post">
        {{ context.form.csrf_token }}
        {{ context.form.username.label }} {{ context.form.username(size=20) }}<br>
        {{ context.form.password.label }} {{ context.form.password(size=20) }}<br>
        <input type="submit" value="Login"/>
    </form>
  </div>
  {% endblock %}
