{% extends "base.html" %}

{% block content %}
<p>{{ display_message }}! </p>
<h3>Welcome to you personal page {{ form.username.data }}</h3>

<div class="profile-information">
   <h1>User Information</h1>
   <ul>
      <li></li>
   </ul>
</div>

<div class="profile-update">
   <form class="" name="" action="/update/" method="POST">
      {{ form.csrf_token }}
      <input type="submit" value="Update"/>
   </form>
</div>
<br>
<div class="profile-logout">
   <form class="" name="" action="/logout/" method="POST">
      {{ form.csrf_token }}
      <input type="submit" value="Logout"/>
   </form>
</div>

{% endblock %}