{% extends "base.html" %} 

{% block content %}

<div class="container">
    <h2 style="color:rgb(84, 36, 116)" ><strong>Sign Up</strong></h2>
    {% if display_message %}
        <p>{{ display_message }}</p>
    {% endif %}
    
    <div>
        <form class="" name="" action="{{ url_for('user.signup') }}" method="POST">
            {{form.csrf_token}}
            {{form.username.label}}  {{form.username(size=30)}}
            <br>
            {{form.email.label}}  {{form.email(size=30)}}
            <br>
            {{form.password.label}}  {{form.password(size=30)}}
            <br>
            {{form.stocks.label}}  {{form.stocks(size=50)}}
            <h5><strong>&emsp;&emsp;&emsp;Separate stock symbols by comma, leave black if you need more research</strong></h5>
            <br><hr>
            <input style="background-color:rgb(215, 247, 189)" type="submit" value="Signup"/>
        </form>
    </div>
</div>
{% endblock %}