{% extends "base.html" %} 

{% block content %}

<div class="p-4">
    <h3 class="text-light">Update account information</h3>
    <div class="update-container pt-4">
        <form class="signup-form text-light" name="" action="{{ url_for('main_bp.update') }}" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <label class="text-light">Username</label>
                {{ form.username(class="form-control bg-dark text-light border-0", placeholder="Enter Username") }}
            </div>
            <div class="form-group">
                <label class="text-light">Email</label>
                {{ form.email(class="form-control bg-dark text-light border-0", placeholder="Enter Email", type="email", id="email-input") }}
            </div>
            <div class="form-group">
                <label for="password-input">Password</label>
                <input name="password" type="password" class="form-control bg-dark text-light border-0" id="password-input" placeholder="Enter Password (Not Required)">
            </div>
            <div class="form-group">
                <label for="stock-input">Symbols</label>
                {{ form.stocks(class="form-control bg-dark text-light border-0", placeholder="Separate by commas (e.g., AAPL,TSLA,FB,MSFT)", type="text", id="stock-input") }}
            </div>
            <button type="submit" class="btn btn-secondary btn-sm mt-4">Submit</button>
        </form>
    </div>
</div>
{% endblock %}